.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Brand {
  float: left;
  color: black;
  -webkit-text-stroke: darkgray;
}

.MenuItem {
  float: right;
}

.Navbar ul {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
  list-style: none;
}

.Navbar li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
    font-size: 2em;
}

.Search {
  display: block;
}

.Search input {
  margin-left: 0.5em;
  width: 190px;
}

.Search-text {
  font-size: 42px;
}

.Modal-content {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  background-color: cornsilk;
  padding: 1em;
}

.Disqus {
  padding: 2em;
  text-align: left;
}

.Ad-banner {
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .Ad-banner {
     width: 80%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
